includes:
    - vendor/yii2-extensions/phpstan/extension.neon

parameters:
    level: 5
    tmpDir: /tmp/phpstan
    paths:
        - auth
        - controllers
        #- models
        - repositories
        - services
    bootstrapFiles:
            - phpstan-bootstrap.php
    yii2:
        config_path: config/phpstan-config.php
        component_generics:
            user: identityClass      # Built-in (already configured)
            repository: modelClass   # Custom generic component